
{% load bootstrap4%}

{%block profile%}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title> 

        <link rel="stylesheet" type= "text/css" href="bootstrap-4.5.3-dist/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    
            {% include 'Pages/header.html'%}
            
    <body>      
        <div class="container">
            <div class= "main">   
                <div class= "row">
                    <div class="col-md-4 mt-1">
                        <div class="card text-center sidebar">
                            <div class = "card">
                               <div class="mt-3">
                                   <a href="{% url 'phome' %}">Home</a>
                                   <a href="{% url 'myrecords' %}">My Records</a>
                                   <a href="{% url 'profile' %}">Back</a>
                                  
                               </div>
                            </div>    
                        </div>    
                    </div> 
                    
                    <div class="col-md-8 mt-1">
                        <div class="card mb-3 content">
                            <h1 class="m-3 pt-3">My Profile</h1>                            
                            <form method="POST" enctype="multipart/form-data" >
                                {% csrf_token %}
                                {{"Blood Pressure"}}
                                {%bootstrap_form blood layout='inline'%}
                                {% bootstrap_button "Save" button_type="submit" %}
                            </form> 
                            <form method="POST" enctype="multipart/form-data" >
                                {% csrf_token %}
                                {{"Glucose level"}}
                                {%bootstrap_form gluecose%}
                                {% bootstrap_button "Save" button_type="submit" %} 
                              </form> 

                        </div>
                    </div>   
                </div>    
            </div>    
        </div>
        <div id="sideNav">                
            <nav>
              <ul>
                <li><a href="#regform" >Login Form</a></li>
                <li><a href="#footer" >Contact Us</a></li>
              </ul>
            </nav>
          </div>

          <!--the button layout -->
          <div id="menuButton">            
               <img src="{%static 'Images/menu.png'%}" id="menu">
          </div>

          
     </body>
     
        <!--the following is our scripts -->
       
    {% include 'Pages/footer.html'%}
{%endblock%}